



/*   */
.product ul{
  /*style all lists below the top-level list*/
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: none;
  padding: 20px 0;
  position: absolute;
  min-width: 140px;
  z-index: 10;
  visibility: hidden;
}

.product  ul ul li {
  position: relative;
}

.product ul ul ul {
  /*style all lists below the second-level list*/
  border: 1px solid #ccc;
  border-right: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0;
  left: -100%;
  top: -1px;
}

.product ul.sub-product:hover {
 /* show the menu of the list item being hovered over*/
  visibility: visible;
  border: 2px solid black;
}