* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    background-color: #fff;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    color: #555;
  }
.row {
  margin-top: -11px;
}
.bg-video {
    height: 100%;
    width: 100%;
    overflow: hidden;
   
 }
    .bg-video__content {
      height: 100%;
      width: 100%;
      object-fit: cover; 
    }
    h1 {
      margin-top: 350px;
      margin-bottom: 20px;
      color: #fff;
      font-size: 240%;
      word-spacing: 4px;
      letter-spacing: 1px;
      text-align: center;
  }

    .btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-left: 500px;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17;
}
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 11px;
}

/*Main Nav*/

.main-nav {
  float: right;
  list-style: none;
  margin-top: 53px;
  margin-right: 23px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color:  #e67e22;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}
.dropbtn {
  /* background-color: #4CAF50;
  color: white; */
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


/*********SECTION PRODUCT*******/
 h2{
  margin-top: 27px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 180%;
  word-spacing: 2px; 
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
h2:after {
  display: block;
  content: " ";
  background-color: #e67e22;
  width: 100px;
  height: 2px;
  margin: 0 auto;
  margin-top: 30px
}
.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
img {
  border-style: none;
}
.col:first-child {
  margin-left: 71px;
}
.box {
  padding: 1%;
}
.span-1-of-4 {
  width: 28.8%;
}
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
h3 {
  font-size: 110%;
  margin-bottom: 15px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.span-1-of-3 {
  width: 28.8%;
}
 .span-1-of-3 img:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
  opacity: 1;
}

/*********INSTAGRAM********/
.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.5s;
  transition: opacity 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.2s;
  transition: transform 0.5s, opacity 0.2s, -webkit-transform 0.5s;

}

.meal-photo img:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  opacity: 1;
}
.widget_area{
  background-color: #f2f2f2;

}
footer_widgets{
  padding: 54px 0 27px;
}
.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.sub__row{
  margin-left: -43px;;
}
.sm-1-of-4{
 position: relative;
 min-height: 1px;
 padding-left: 15px;
 padding-right: 15px;
 width: 21.98%;
}

.sidepanel {
  margin-bottom: 33px;
}

.sidepanel .title .footer_widgets{
  color: #878787;
}
.sidepanel h6.title {
  margin-bottom: 18px;
}
h6, h6 span, a {
  font-size: 15px;
  line-height: 25px;
  font-weight: 600 !important;
}
h6{
  letter-spacing: 1px;
  padding: 0;
  margin: 0 0 15px;
  margin-bottom: 15px;
text-transform: uppercase;
}
.footer_widgets .sidepanel div{
  color: #878787;
  font-size: initial;
}
.sidepanel h6.title {
  margin-bottom: 18px;
}
.flickr_widget_wrapper {
  overflow: hidden;
  display: block;
  font-size: 0;
  line-height: 0;
  padding: 5px 0 0;
  margin-right: -6px;
  margin-bottom: -7px;
}
.widget_flickr .flickr_badge_image {
  display: inline-block;
  position: relative;
  overflow: hidden;
  float: none;
  vertical-align: top;
}
.flickr_badge_image {
  margin: 0 10px 10px 0;
  width: 72px;
  height: 72px;
  float: left;
  background: 0 0;
  padding: 0;
}
.widget_nav_menu{
  margin-bottom: 28px;
}
.sidepanel {
  margin-bottom: 33px;
}
.widget_nav_menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget_nav_menu ul li{
  margin: 0;
  padding: 0 0 10px;
  position: relative;
}
.sidepanel li.current-menu-item a{
  color: #ec8618;
}
.footer_widgets .sidepanel a {
  color: #cccccc;
}
.widget_nav_menu ul li a{
  padding: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}
.sidepanel a {
  transition: background-color 300ms,border-color 300ms,color 300ms;
  -webkit-transition: background-color 300ms,border-color 300ms,color 300ms;
}
a {
  color: #525359;
}
a,
 a:hover,
 a:focus {
  text-decoration: none;
  outline: none;
}
.widget_contacts .widget_contacts_block:last-child {
  padding-bottom: 0;
}
.widget_contacts .widget_contacts_block:first-child {
  padding-top: 0;
  border-top: none;
}
.widget_contacts .widget_contacts_name {
    font-style: italic;
    width: 37%;
    display: inline-block;
    float:none;
}
.widget_contacts .widget_contacts_value {
  color: #cccccc;
  width: 59%;
  display: inline-block;
  float:none;
}

.footer_widgets {
  padding: 54px 0 27px;
}
.row .container::before{
  content: " ";
  display: table;
}
.row .container::after{
 clear: both;
}
.copy {
  max-width: 1140px;
  margin: 0 auto;
}
.copy p {
  color: #888;
  text-align: center;
  font-size: 90%;
  margin-top: 20px;
}